body {
  background: linear-gradient(to right, #fff, #076585);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  color: #2b4244;
}

/* Styling the text. */
.digit {
  font-size: 150px;
  font-weight: bold;
}
.txt {
  font-size: 50px;
  font-weight: bold;
  padding: 5px;
  align-items: center;
  vertical-align: 32px;
  color: black;
}

/* Styling the buttons. */
#btn-container {
  text-align: center;
  margin-top: 40px;
}
.btn {
  padding: 7px 25px;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 10px;
  color: white;
  border: 0px;
  cursor: pointer;
}

#start {
  background-color: #1abc9c;
}
#stop {
  background-color: #3498db;
}
#reset {
  background-color: #e74c3c;
}
